services:
  traefik:
    image: traefik:${TRAEFIK_VERSION:-v2.11}
    container_name: traefik
    restart: unless-stopped
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      # EntryPoints
      - "--entrypoints.web.address=:80"
      # Dashboard
      - "--api.dashboard=true"
      - "--api.insecure=true"
    environment:
      - DOCKER_API_VERSION=1.44

    ports:
      - "${TRAEFIK_HTTP_PORT:-80}:80"                     # Public (used by Cloudflare Tunnel)
      - "${LOCAL_BIND_IP:-127.0.0.1}:${TRAEFIK_DASHBOARD_PORT:-8080}:8080"       # Traefik dashboard (LOCAL ONLY)

    volumes:
      - ${DOCKER_SOCKET:-/var/run/docker.sock}:/var/run/docker.sock:ro

    networks:
      - proxy

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    command: -H unix:///var/run/docker.sock

    ports:
      - "${LOCAL_BIND_IP:-127.0.0.1}:${PORTAINER_PORT:-9000}:9000"       # Portainer UI (LOCAL ONLY)

    volumes:
      - ${DOCKER_SOCKET:-/var/run/docker.sock}:/var/run/docker.sock
      - portainer_data:/data

    networks:
      - proxy

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    profiles:
      - cloudflare
    restart: unless-stopped
    depends_on:
      - traefik
    command: tunnel --no-autoupdate run --token ${CF_TUNNEL_TOKEN}

    networks:
      - proxy

networks:
  proxy:
    external: true

volumes:
  portainer_data:
