services:
  web:
    image: nginx:alpine
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.web.rule=Host(`test.jaypussy.site`)"
      - "traefik.http.services.web.loadbalancer.server.port=80"

networks:
  proxy:
    external: true